#search-info {
    color: #ccc;
}

#filter {
    padding: 10px 0px;
    margin-bottom: 50px;
}

#filter input, #filter select {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}